<div class="col-sm-5 col-sm-offset-2 text-left">
	
	{% unless page.tags == empty %}
	<ul class="post-meta-tags">
		<li>
			<span class="glyphicon glyphicon glyphicon-tags"></span>
			<a href="#">Tags:</a>
		</li>

		{% assign tags_list = page.tags %}
		{% if tags_list.first[0] == nil %}
		{% for tag in tags_list %}

		<li>
	      <button type="button" class="btn btn-default btn-md" data-size="{{ site.tags[tag].size }}">
		      <span class="glyphicon glyphicon glyphicon-tag"></span>
		      <a href="/tags/#{{ tag }}">
		        {{ tag | join: "/" }}
		      </a>
	      </button>
      </li>

      {% endfor %}
      {% else %}
      {% for tag in tags_list %}

      <li>
	      <button type="button" class="btn btn-default btn-md" data-size="{{ site.categories[category].size }}">
		      <span class="glyphicon glyphicon glyphicon-tag"></span>
		      <a href="/tags/#{{ tag[0] }}">
		        {{ tag[0] | join: "/" }}
		      </a>
	      </button>
      </li>

      {% endfor %}
      {% endif %}
      	{% assign tags_list = nil %}

	</ul>
	{% endunless %} 
</div>