/* layout.scss #################### */
html {}
body {
//	background: $slight-light-blue;
	@include base-text-style;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: bold;
}
h1 {
	font-size: $h1-size;
	small {
		padding-top: .25em;
		display: block;
		font-family: $ubuntu;
		font-size: 18px;
		color: $medium-green;
	} 
} h2 {font-size: $h2-size;}
h3 {font-size: $h3-size;}
h4 {font-size: $h4-size;}
h5 {font-size: $h5-size;}
h6 {font-size: $h6-size;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: $h-small;
}

a {}
/* /layout.scss #################### */

