/* mixins.scss #################### */
@mixin base-text-style {
	font-family: $body-font;
	font-size: $body-txt;
	line-height: 1.5em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
	-webkit-box-shadow: $horizontal $vertical $blur $spread $color;
	-moz-box-shadow: $horizontal $vertical $blur $spread $color;
	box-shadow: $horizontal $vertical $blur $spread $color;
}  

/* https://gist.github.com/garyharan/957284 */
@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
/* /mixins.scss #################### */