/* content.scss #################### */
.body-content {
	min-height: 365px;
	background: #fff;
}
.highlight {
	margin-top: 1.75em;
	margin-bottom: 1em;
}
.post-meta {
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.post-category-list,
.post-tag-list {
	padding-left: 1px !important;
}

.post-meta-category li:first-child,
.post-meta-tags li:first-child {
	margin-bottom: 10px;
	font-family: $oxygen;
	font-size: 110%;
	font-weight: bold;
	a {
		color: $medium-green;
		&:hover,
		&:active {
			color: $light-blue;
		}
	}
}

.post-category-list,
.post-tag-list,
.post-meta-category,
.post-meta-tags {
	font-size: 90%;
	color: #222;
	list-style-type: none;
	li {
		font-size: 100%;
		span { margin-right: 7px;}
		a:hover,
		a:active { 
			color: $medium-green;
			text-decoration: none;
		}
	}
	button	{
		//margin-bottom: 0;
		border: none;
	}
}

/* /content.scss #################### */