/* footer.scss #################### */
footer {
	font-family: $footer-font;
	font-size: $sm-txt;
}

footer p {
	padding: 1em 0;
}

.primary-footer {
	min-height: 8em;
	background: $slight-light-blue;
	color: #fff;
	font-family: $oxygen;
	overflow: auto;
	border-top: 9px solid $dark-blue;
	a,
	a:visited {
		padding-top: 1em;
		color: $basic-green;
		&:hover,
		&:active {
			color: $medium-green;
			text-decoration: none;
		}
	}
}
/* /footer.scss #################### */