---
layout: default
---

	

  <div class="container-fluid jumbotron primary-header text-center">  
    <div class="row">
      <h1>{{ page.title }}
      <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
      </h1>
    </div><!-- /.row -->
  </div><!-- /.jumbotron -->

  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
		<article class="text-left">
			<p>
				{{ content }}
			</p> 
		</article>
      </div><!-- /.col-md-12 -->    
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->